html {
    background: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

body {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    width: 1000px
}

h1, h2, li{
    color: white;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}